*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --main-color: hsl(75, 94%, 57%);
    --secondary-color: hsl(0, 0%, 100%);
    --third-color: hsl(0, 0%, 20%);
    --four-color:  hsl(0, 0%, 12%);
    --five-color:  hsl(0, 0%, 8%);
}
@media(min-width: 768px){
    .container{
        width: 750px;
    }
}
@media(min-width: 992px){
    .container{
        width: 970px;
    }
}
@media(min-width: 1200px){
    .container{
        width: 1170px;
    }
}
body{
    font-family: 'Inter', sans-serif;
    background-color: var(--five-color);
}
.container{
    background-color: var(--third-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 280px;
    height: 75vh;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.container .image img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-top: 30px;
    border: 3px solid var(--main-color);
}
.container .content{
    text-align: center;
    line-height: 0.5;
}
.container h1{
   color: var(--secondary-color);
}
.container span{
   color: var(--main-color);
}
.container p{
    margin-top: 25px;
    color: hsl(0deg 0% 100% / 33%);
    font-weight: 500;
    font-size: 14px;
} 
.container ul{
    list-style: none;
    margin-top: 10px;
}
.container ul li{
    margin-top: 10px;
    text-align: center;
}
.container ul li a{
    color: var(--secondary-color);
    background-color: var(--four-color);
    padding: 8px 30px;
    display: block;
    border-radius: 5px;
}
.container ul li a:hover{
    background-color: var(--main-color);
    color: var(--five-color);
}
.end{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    color: white;
    font-size: 20px;
    margin-top: 30px;
}
.end p{
    color: var(--secondary-color);
}
.end p span{
    color: var(--secondary-color);
    transition: 0.5s;
}
.end p span:hover{
    padding-left: 20px;
    color: var(--main-color);
}
.end a{
    color: var(--secondary-color);
    margin-bottom: 20px;
    font-size: 18px;
}
.end a:hover{
    color: var(--main-color);
}